<html> 
<body> 
    <h3>NCAA Tournament Game Prediction Based on Home - Away Season Stat Difference</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="Difference in Assist Percentage">Difference in Assist Percentage</label> 
    <input type="text" id="Difference in Assist Percentage" name="Difference in Assist Percentage"> 
    <br>
	<label for="Difference in Block Percentage">Difference in Block Percentage</label> 
    <input type="text" id="Difference in Block Percentage" name="Difference in Block Percentage"> 
    <br>
    <label for="Difference in Offensive Rating">Difference in Offensive Rating</label> 
    <input type="text" id="Difference in Offensive Rating" name="Difference in Offensive Rating"> 
    <br>
	<label for="Difference in Offensive Rebound Percentage">Difference in Offensive Rebound Percentage</label> 
    <input type="text" id="Difference in Offensive Rebound Percentage" name="Difference in Offensive Rebound Percentage"> 
    <br>
	<label for="Difference in Opponent Assist Percentage">Difference in Opponent Assist Percentage</label> 
    <input type="text" id="Difference in Opponent Assist Percentage" name="Difference in Opponent Assist Percentage"> 
    <br>
	<label for="Difference in Opponent Block Percentage">Difference in Opponent Block Percentage</label> 
    <input type="text" id="Difference in Opponent Block Percentage" name="Difference in Opponent Block Percentage"> 
    <br>
	<label for="Difference in Opponent Free Throw Attempt Rate">Difference in Opponent Free Throw Attempt Rate</label> 
    <input type="text" id="Difference in Opponent Free Throw Attempt Rate" name="Difference in Opponent Free Throw Attempt Rate"> 
    <br>
	<label for="Difference in Opponent Free Throw Percentage">Difference in Opponent Free Throw Percentage</label> 
    <input type="text" id="Difference in Opponent Free Throw Percentage" name="Difference in Opponent Free Throw Percentage"> 
    <br>
	<label for="Difference in Opponent Free Throw Per Field Goal Attempt">Difference in Opponent Free Throw Per Field Goal Attempt</label> 
    <input type="text" id="Difference in Opponent Free Throw Per Field Goal Attempt" name="Difference in Opponent Free Throw Per Field Goal Attempt"> 
    <br>
	<label for="Difference in Opponent Offensive Rebound Percentage">Difference in Opponent Offensive Rebound Percentage</label> 
    <input type="text" id="Difference in Opponent Offensive Rebound Percentage" name="Difference in Opponent Offensive Rebound Percentage"> 
    <br>
	<label for="Difference in Opponent Steal Percentage">Difference in Opponent Steal Percentage</label> 
    <input type="text" id="Difference in Opponent Steal Percentage" name="Difference in Opponent Steal Percentage"> 
    <br>
	<label for="Difference in Opponent Three Point Field Goal Percentage">Difference in Opponent Three Point Field Goal Percentage</label> 
    <input type="text" id="Difference in Opponent Three Point Field Goal Percentage" name="Difference in Opponent Three Point Field Goal Percentage"> 
    <br>
	<label for="Difference in Opponent Two Point Field Goal Percentage">Difference in Opponent Two Point Field Goal Percentage</label> 
    <input type="text" id="Difference in Opponent Two Point Field Goal Percentage" name="Difference in Opponent Two Point Field Goal Percentage"> 
    <br>
	<label for="Difference in Opponent Total Rebound Percentage">Difference in Opponent Total Rebound Percentage</label> 
    <input type="text" id="Difference in Opponent Total Rebound Percentage" name="Difference in Opponent Total Rebound Percentage"> 
    <br>	
	<label for="Difference in Opponent True Shooting Percentage">Difference in Opponent True Shooting Percentage</label> 
    <input type="text" id="Difference in Opponent True Shooting Percentage" name="Difference in Opponent True Shooting Percentage"> 
    <br>
	<label for="Difference in Pace">Difference in Pace</label> 
    <input type="text" id="Difference in Pace" name="Difference in Pace"> 
    <br>
	<label for="Difference in Simple Rating System">Difference in Simple Rating System</label> 
    <input type="text" id="Difference in Simple Rating System" name="Difference in Simple Rating System"> 
    <br>
	<label for="Difference in Steal Percentage">Difference in Steal Percentage</label> 
    <input type="text" id="Difference in Steal Percentage" name="Difference in Steal Percentage"> 
    <br>
	<label for="Difference in Strength of Schedule">Difference in Strength of Schedule</label> 
    <input type="text" id="Difference in Strength of Schedule" name="Difference in Strength of Schedule"> 
    <br>
	<label for="Difference in Three Point Attempt Rate">Difference in Three Point Attempt Rate</label> 
    <input type="text" id="Difference in Three Point Attempt Rate" name="Difference in Three Point Attempt Rate"> 
    <br>
	<label for="Difference in Three Point Field Goal Percentage">Difference in Three Point Field Goal Percentage</label> 
    <input type="text" id="Difference in Three Point Field Goal Percentage" name="Difference in Three Point Field Goal Percentage"> 
    <br>
	<label for="Difference in Two Point Field Goal Percentage">Difference in Two Point Field Goal Percentage</label> 
    <input type="text" id="Difference in Two Point Field Goal Percentage" name="Difference in Two Point Field Goal Percentage"> 
    <br>
	<label for="Difference in True Shooting Percentage">Difference in True Shooting Percentage</label> 
    <input type="text" id="Difference in True Shooting Percentage" name="Difference in True Shooting Percentage"> 
    <br>
	<label for="Difference in Turnover Percentage">Difference in Turnover Percentage</label> 
    <input type="text" id="Difference in Turnover Percentage" name="Difference in Turnover Percentage"> 
    <br>
	<label for="Difference in Win Percentage">Difference in Win Percentage</label> 
    <input type="text" id="Difference in Win Percentage" name="Difference in Win Percentage"> 
    <br>
	<label for="Difference in Seed">Difference in Seed</label> 
    <input type="text" id="Difference in Seed" name="Difference in Seed"> 
    <br>
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>